<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyt.dao.ucpaas.UserMapper">
    <resultMap id="TbRsUserInfo" type="com.xyt.model.TbRsUserInfo">
        <id column="sid" property="sid" jdbcType="VARCHAR"/>
        <result column="net_sid" property="netSid" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="chat_type" property="chatType" jdbcType="INTEGER"/>
        <result column="chat_nbr" property="chatNbr" jdbcType="VARCHAR"/>
        <result column="realname" property="realname" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="national" property="national" jdbcType="INTEGER"/>
        <result column="o_con_type1" property="oConType1" jdbcType="CHAR"/>
        <result column="o_con_nbr1" property="oConNbr1" jdbcType="VARCHAR"/>
        <result column="o_con_type2" property="oConType2" jdbcType="CHAR"/>
        <result column="o_con_nbr2" property="oConNbr2" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="login_times" property="loginTimes" jdbcType="INTEGER"/>
        <result column="province" property="province" jdbcType="INTEGER"/>
        <result column="city" property="city" jdbcType="INTEGER"/>
        <result column="valicode" property="valicode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryAdministrator" parameterType="com.xyt.model.TbRsUserInfo" resultMap="TbRsUserInfo">
		SELECT
			*
		FROM
			tb_rs_user_info
		WHERE
			username = #{username,jdbcType=VARCHAR}
		AND PASSWORD = #{password,jdbcType=VARCHAR}
		AND status = 1
	</select>

    <update id="changePwd" parameterType="map">
		UPDATE tb_rs_user_info
        SET PASSWORD = #{newPwd}
        WHERE password = #{oldPwd}
        AND sid = #{sid}
	</update>


</mapper>